<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>cheval</string>
        <string>elephant</string>
        <string>voiture</string>
        <string>avion</string>
        <string>Alexandre</string>
        <string>verre</string>
        <string>aide</string>
        <string>chef</string>
        <string>enfant</string>
        <string>garde</string>
        <string>gauche</string>
        <string>geste</string>
        <string>gosse</string>
        <string>livre</string>
        <string>merci</string>
        <string>mort</string>
        <string>ombre</string>
        <string>part</string>
        <string>poche</string>
        <string>professeur</string>
        <string>tour</string>
        <string>fois</string>
        <string>madame</string>
        <string>paix</string>
        <string>voix</string>
        <string>affaire</string>
        <string>annee</string>
        <string>arme</string>
        <string>armee</string>
        <string>attention</string>
        <string>balle</string>
        <string>boite</string>
        <string>bouche</string>
        <string>carte</string>
        <string>cause</string>
        <string>chambre</string>
        <string>chance</string>
        <string>chose</string>
        <string>classe</string>
        <string>confiance</string>
        <string>couleur</string>
        <string>cour</string>
        <string>cuisine</string>
        <string>dame</string>
        <string>dent</string>
        <string>droite</string>
        <string>ecole</string>
        <string>eglise</string>
        <string>envie</string>
        <string>epaule</string>
        <string>epoque</string>
        <string>equipe</string>
        <string>erreur</string>
        <string>espece</string>
        <string>face</string>
        <string>facon</string>
        <string>faim</string>
        <string>famille</string>
        <string>faute</string>
        <string>femme</string>
        <string>fenetre</string>
        <string>fete</string>
        <string>fille</string>
        <string>fleur</string>
        <string>force</string>
        <string>forme</string>
        <string>guerre</string>
        <string>gueule</string>
        <string>habitude</string>
        <string>heure</string>
        <string>histoire</string>
        <string>idee</string>
        <string>image</string>
        <string>impression</string>
        <string>jambe</string>
        <string>joie</string>
        <string>journee</string>
        <string>langue</string>
        <string>lettre</string>
        <string>levre</string>
        <string>ligne</string>
        <string>lumiere</string>
        <string>main</string>
        <string>maison</string>
        <string>maman</string>
        <string>maniere</string>
        <string>marche</string>
        <string>merde</string>
        <string>mere</string>
        <string>minute</string>
        <string>musique</string>
        <string>nuit</string>
        <string>odeur</string>
        <string>oreille</string>
        <string>parole</string>
        <string>partie</string>
        <string>peau</string>
        <string>peine</string>
        <string>pensee</string>
        <string>personne</string>
        <string>peur</string>
        <string>photo</string>
        <string>piece</string>
        <string>pierre</string>
        <string>place</string>
        <string>police</string>
        <string>porte</string>
        <string>presence</string>
        <string>prison</string>
        <string>putain</string>
        <string>question</string>
        <string>raison</string>
        <string>reponse</string>
        <string>robe</string>
        <string>route</string>
        <string>salle</string>
        <string>scene</string>
        <string>seconde</string>
        <string>securite</string>
        <string>semaine</string>
        <string>situation</string>
        <string>soeur</string>
        <string>soiree</string>
        <string>sorte</string>
        <string>suite</string>
        <string>table</string>
        <string>terre</string>
        <string>tete</string>
        <string>verite</string>
        <string>ville</string>
        <string>voiture</string>
        <string>avis</string>
        <string>bois</string>
        <string>bras</string>
        <string>choix</string>
        <string>corps</string>
        <string>cours</string>
        <string>gars</string>
        <string>mois</string>
        <string>pays</string>
        <string>prix</string>
        <string>propos</string>
        <string>sens</string>
        <string>temps</string>
        <string>travers</string>
        <string>vieux</string>
        <string>accord</string>
        <string>agent</string>
        <string>amour</string>
        <string>appel</string>
        <string>arbre</string>
        <string>argent</string>
        <string>avenir</string>
        <string>avion</string>
        <string>bateau</string>
        <string>bebe</string>
        <string>besoin</string>
        <string>bonheur</string>
        <string>bonjour</string>
        <string>bord</string>
        <string>boulot</string>
        <string>bout</string>
        <string>bruit</string>
        <string>bureau</string>
        <string>cafe</string>
        <string>camp</string>
        <string>capitaine</string>
        <string>chat</string>
        <string>chemin</string>
        <string>cheri</string>
        <string>cheval</string>
        <string>cheveu</string>
        <string>chien</string>
        <string>ciel</string>
        <string>client</string>
        <string>cœur</string>
        <string>coin</string>
        <string>colonel</string>
        <string>compte</string>
        <string>copain</string>
        <string>cote</string>
        <string>coup</string>
        <string>courant</string>
        <string>debut</string>
        <string>depart</string>
        <string>dieu</string>
        <string>docteur</string>
        <string>doigt</string>
        <string>dollar</string>
        <string>doute</string>
        <string>droit</string>
        <string>effet</string>
        <string>endroit</string>
        <string>ennemi</string>
        <string>escalier</string>
        <string>esprit</string>
        <string>etat</string>
        <string>etre</string>
        <string>exemple</string>
        <string>fait</string>
        <string>film</string>
        <string>flic</string>
        <string>fond</string>
        <string>francais</string>
        <string>frere</string>
        <string>front</string>
        <string>garcon</string>
        <string>general</string>
        <string>genre</string>
        <string>gout</string>
        <string>gouvernement</string>
        <string>grand</string>
        <string>groupe</string>
        <string>haut</string>
        <string>homme</string>
        <string>honneur</string>
        <string>hotel</string>
        <string>instant</string>
        <string>interet</string>
        <string>interieur</string>
        <string>jardin</string>
        <string>jour</string>
        <string>journal</string>
        <string>lieu</string>
        <string>long</string>
        <string>maitre</string>
        <string>mari</string>
        <string>mariage</string>
        <string>matin</string>
        <string>medecin</string>
        <string>metre</string>
        <string>milieu</string>
        <string>million</string>
        <string>moment</string>
        <string>monde</string>
        <string>monsieur</string>
        <string>mouvement</string>
        <string>moyen</string>
        <string>noir</string>
        <string>nouveau</string>
        <string>numero</string>
        <string>oeil</string>
        <string>oiseau</string>
        <string>oncle</string>
        <string>ordre</string>
        <string>papa</string>
        <string>papier</string>
        <string>parent</string>
        <string>passage</string>
        <string>passe</string>
        <string>patron</string>
        <string>pere</string>
        <string>petit</string>
        <string>peuple</string>
        <string>pied</string>
        <string>plaisir</string>
        <string>plan</string>
        <string>point</string>
        <string>pouvoir</string>
        <string>premier</string>
        <string>present</string>
        <string>president</string>
        <string>prince</string>
        <string>probleme</string>
        <string>quartier</string>
        <string>rapport</string>
        <string>regard</string>
        <string>reste</string>
        <string>retard</string>
        <string>retour</string>
        <string>reve</string>
        <string>revoir</string>
        <string>salut</string>
        <string>sang</string>
        <string>secret</string>
        <string>seigneur</string>
        <string>sentiment</string>
        <string>service</string>
        <string>seul</string>
        <string>siecle</string>
        <string>signe</string>
        <string>silence</string>
        <string>soir</string>
        <string>soldat</string>
        <string>soleil</string>
        <string>sourire</string>
        <string>souvenir</string>
        <string>sujet</string>
        <string>telephone</string>
        <string>tout</string>
        <string>train</string>
        <string>travail</string>
        <string>trou</string>
        <string>truc</string>
        <string>type</string>
        <string>vent</string>
        <string>ventre</string>
        <string>verre</string>
        <string>village</string>
        <string>visage</string>
        <string>voyage</string>
        <string>fils</string>
        <string>gens</string>
    </array>
</plist>
